<div class="flex flex-col bg-slate-900 shadow-lg rounded-lg overflow-hidden">
    <!-- Image section -->
    <div class="relative w-full flex-shrink-0">
        <img class="w-full" src="SHOW POSTER PATH" alt="Show poster">
    </div>

    <!-- Content section -->
    <div class="flex flex-col flex-grow p-4">
        <div class="mb-2 flex justify-between items-center">
            <div class="flex-grow">
                <p class="text-white text-xl font-semibold truncate">SHOW TITLE</p>
                <p class="text-white text-sm">SHOW DATE</p>
            </div>
        </div>

        <div class="flex items-center justify-between mt-auto">
            <div class="flex items-center">

                <!-- Category icon SVG -->
                
                <p class="text-white text-sm ml-1">SHOW TYPE</p>
            </div>
        </div>
    </div>
</div>